####################################
# Python
####################################
__pycache__/
*.pyc
*.pyo
*.pyd

####################################
# Virtual Environment
####################################
venv/
.env/

####################################
# TensorFlow / Keras Models
####################################
*.h5
*.keras
*.ckpt
*.pb

####################################
# Pickle / Scalers / Encoders
####################################
*.pkl

####################################
# Logs & Outputs
####################################
logs/
reports/
*.log
*.json
*.csv

####################################
# Images generated during training
####################################
*.png
*.jpg
*.jpeg

####################################
# Jupyter Notebook
####################################
.ipynb_checkpoints/

####################################
# IDEs & Editors
####################################
.vscode/
.idea/

####################################
# OS files
####################################
.DS_Store
Thumbs.db

####################################
# PyCharm / VS Code workspace
####################################
*.code-workspace
